disturl="https://electronjs.org/headers"
target="39.8.8"
ms_build_id="13870025"
runtime="electron"
ignore-scripts=false
build_from_source="false"
legacy-peer-deps="true"
timeout=180000
maxsockets=1
strict-ssl=false
fetch-retries=10
registry="http://mirrors.huaweicloud.com/repository/npm/"
network-concurrency=1

